* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
  background-color: #fafcff;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 14px "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
